@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --red: #ff0000;
  --dark-blue: #00004a;
  --light-gray: #e5e5e5;
  --background-cream: #fcf4e8;
  --text-gray: #303647;
  --placeholder-gray: #ced4da;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: var(--red);
}

/* navigation */
.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--black);
}

.link-hover a:hover {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #e5e5e5;
}

.home-container {
  display: flex;
  height: 100vh;
}

#nav {
  width: 20%;
  padding: 30px;
  background-color: var(--white);
}

#user {
  width: 20%;
  padding: 30px;
  background-color: var(--background-cream);
}

#nav {
  border-right: 1px solid var(--black);
}

#user {
  border-left: 1px solid var(--black);
}

#content {
  flex: 1;
  padding: 30px;
  background-color: var(--background-cream);
}

.title-font {
  color: var(--text-gray);
  font-family: "Poetsen One", sans-serif;
  text-decoration: none;
  font-style: normal;
}

.normal-text {
  font-family: "Reddit Sans", sans-serif;
  font-style: normal;
}

.red-test {
  color: var(--red);
}

.rounded-circle {
  height: 60px;
  width: 60px;
}

.link-style {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.search {
  position: absolute;
  right: 13px;
  top: 15px;
  color: #ced4da;
}

.search {
  position: absolute;
  left: 41%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.card-img-border img {
  border-radius: 17px 18px 0px 0px !important;
  -webkit-border-radius: 17px 18px 0px 0px !important;
  -moz-border-radius: 17px 18px 0px 0px !important;
}

.card-side-img-border img{
  border-radius: 19px 0px 0px 19px !important;
  -webkit-border-radius: 19px 0px 0px 19px !important;
  -moz-border-radius: 19px 0px 0px 19px !important;
}

.search-bar input,
.card,
.rounded-circle {
  border-top: 2px solid var(--dark-blue) !important;
  border-right: 4px solid var(--dark-blue) !important;
  border-bottom: 4px solid var(--dark-blue) !important;
  border-left: 2px solid var(--dark-blue) !important;
  border-radius: 21px 21px 21px 21px !important;
  -webkit-border-radius: 21px 21px 21px 21px !important;
  -moz-border-radius: 21px 21px 21px 21px !important;
}

.search-icon {
  font-size: 25px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-blue);
}

.back,.outer-tag {
  background-color: white !important;
  border: 2px solid var(--dark-blue) !important;
  color: black !important;
}

.outer-tag{
  width: 140px;
  height: 40px;
  border-radius: 30px;
}

.tag-icon{
  border: 2px solid var(--dark-blue) !important;
  color: black !important;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}